svg {
  background: #F3F3F3;
  width: 100%;
  border-radius: 6px 6px 6px 6px;
}

html, body {

	margin-top: 10px;
	height: 100%;
	padding-top: 40px;
}

body {
font-family: 'Droid Sans', sans-serif;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
	}
#chart svg {
	height: 500px;
}

	
#graphs {
	color: #7c7c7c;
}

#graphs svg {
	height: 200px;

}

#graphs rect:hover{
	opacity: 0.2;
}

.hovered {
text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

#subjects {
	margin-top: 20px;
}

#math, #kannada, #english {
	height: 150px;
}
#subjects text.name {
	fill: #000;
}

#subjects svg {
	width: 100%;
	background: none;
}

#subjects rect:hover {
	opacity: 0.2;
}

#bubble {
	padding-top: 30px;
	width: 500px;
}

#bubble svg {
	background: none;
}

.row-fluid .bg {
	width: 100px;
}
.bg svg {
	width: 30px;
	height: 60px;
	background: none;
	/*fill: #7c7c7c;*/
}

.yearbg .field {
	width: 86px;
	text-align: left;
	padding-left: 10px;
}

.dominant {
fill: red;
}

.low {
	fill: #7c7c7c;
}

#districts path {
  stroke: #fff;
  stroke-width: .55px;
  opacity: 1;
}

#districts path:hover {
	opacity: 1;
	stroke-width: 2px;
	stroke: #111;
}

#districts path.clicked {
	fill: #000;
}

#states path {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.infobox {
	background-color: #F3F3F3;
	border-radius: 6px 6px 6px 6px;
	line-height: 15px;
	margin-bottom: 20px;
}

hr {
	border-color: #7c7c7c;
}

.vr {
    border-right:2px solid #7c7c7c;
}

      #push {
      	height: 80px;
      }
      #footer {
        height: 60px;
        background-color: #f5f5f5;
      }

@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

.credits {
    margin: 20px 0;
    text-align: center;
}


/*.name{
	font-size: 50px;
}

.value{
	font-size: 80px;
}

.year{
	font-size: 20px;
}
*/

.value #infovalueg{

	color: #9ECAE1;
}

.value #infovaluep{
	color: #08306B;
}

#legend {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #F0F0F0;
    border-radius: 6px 6px 6px 6px;
    clear: both;
    color: #777777;
    font-size: 11px;
    line-height: 11px;
    /*margin: 10px 24px;*/
    margin-bottom: 5px;
    overflow: hidden;
    padding: 5px 5px;
    /*width: 100%;*/
}

#legend ul {
	list-style-type: none;
	overflow: hidden;
	clear: both;
}

#legend li {
	float: left;
	margin-right: 1px;
	width: 20px;
	height: 20px;
	margin-top: 10px;
}

#legend p {
	margin-top: 3px;
}

#legend p.more {
	float: right;
	margin-right: 20px; 
}

#legend p.less {
	float: left;
	margin-left: 25px;
}

#legend .q1-9{
	background: #DEEBF7;
}

#legend .q2-9{
	background: #C6DBEF;
}

#legend .q3-9{
	background: #9ECAE1;
}

#legend .q4-9{
	background: #6BAED6;
}

#legend .q5-9{
	background: #4292C6;
}

#legend .q6-9{
	background: #2171B5;
}

#legend .q7-9{
	background: #08519C;
}

#legend .q8-9{
	background: #08306B;
}

.label:hover{
	opacity: 0.5;
}

.pause {
    background-image: url("images/pause.png");
    height: 14px;
    margin-right: 10px;
    margin-top: 3px;
    width: 7px;
}

.play {
	cursor: pointer;
    /*background-image: url("images/plays.svg");*/
    height: 30px;
    width: 60px;
    margin-top: 3px;
}

.label {
	font-size: 10px;
}

.head {
  color: #7c7c7c;
  /*border-radius: 6px 6px 6px 6px;*/
  margin-bottom: 20px;
  /*padding-left: 10px;*/
}

.gender {
	margin-top: 25px;
	color: #7c7c7c;
}

.boygirl {
	background-image: url("../images/bg.png");
	background-repeat: no-repeat;
	height: 200px;
}

.infobg {
	color: #7c7c7c;
}

.navbar .nav > li > a#header-infoname{
	font-size: 20px;
	color: black;
}

.subject-title {
	text-align: center;
}

sup {
	font-size: 12px;
}

.infobg .bg {
    width: 86px;
}
